

body, html {
    margin: 0;
    font-family: 'Raleway',sans-serif;
    
    flex-direction: column;
    font-size:14px;
    height: 100%;
    background-color: #FFFFFF;
}
p a{
    margin:0;
}
.row{
    background-color:#ffffff;
}
.myDark{
    color:#08070D;
}
.dark-mode  {
  background-color: #08070D;
  color: #fafafa;
}
.dark-mode .myDark{
  color: #fafafa;
    background-color: #08070D;
}
.boxA {
    height: auto;
    margin: 0;
    border: 2px solid #9a37ac;
    padding: 25px;
    margin: 25px;
}
.boxB {
    background-color: #ffffff;
    height: auto;
    border: 2px solid #08070D;
    padding: 25px;
    margin: 25px;
}
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 200px;
    overflow: auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    background-color:#ffffff;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


.center {
    text-align: center;
    margin: 0;
}

.logo {
    float:left;
    width: 55%;
    margin-right: auto;
    margin-left: auto;
    margin-top:45%;
    margin-bottom:auto;
    text-align:left;


}
/* Top navigational bar codes */
/*Image citation: Porter, A. (2016). Images of the Aurora Borealis. [online] Andy Porter Images Blog. Available at: http://andyporterimages.com/images-of-the-milky-way/ [Accessed 15 Nov. 2018].*/
.topnav {
    overflow: hidden;
    background-color: #fafafa;

    height: 70px;
}
.topnav a {
    float: left;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
.topnav-right a.active {
    color: #5a5a5a;
}
.topnav-right {
    float: right;
    margin-top: 15px;

}
.topnav-right button {
    font-size:25px;
    border: none;
    outline: 0;
    display: inline-block;
    color: #08070D;
    background-color: #fafafa;
    text-align: center;
    cursor: pointer;
}
.topnav-right button:hover {
    border: none;
    outline: 0;
    background-color: #fafafa;
    color: #5a5a5a;
}

/* Sub-navigation menu */
.subnav {
    float: left;
    overflow: hidden;
}
.subnav .subnavbtn {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    border: none;
    outline: none;
    color: #FFFFFF;
    background-color: inherit;
    margin: 0;
}
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #5a5a5a;
    width: 100%;
    z-index: 1;
}
.subnav-content a {
    float: right;
    color: #FFFFFF;
    text-decoration: none;
}
/* Nav hover colours*/
.subnav:hover .subnav-content {
    display: block;
}
.subnav-content a {
    float: right;
    color:#FFFFFF;
    text-decoration: none;
}
.subnav-content a:hover {
    background-color: #FFFFFF;
    color: #08070D;
}

#font{
    font-family: 'Raleway',sans-serif;
    font-size: 17px;
}
footer { 
    display: block;
}
.footer {
    top: auto;
    bottom: 0;
    width: 100%;
    background-color: #08070D;
    color: #FFFFFF;
    text-align: center;
    font-size: 2em;
    padding-top: 5px;
    position: relative;
    float: bottom;
    margin-top:auto;
}
.copyright {
    font-size: 10px;
    color: #fafafa;
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images///sun_map.png");
    height: 100%;
    background-color:inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top:2%;
    margin-bottom:0%;

}
.hero-text {
    font-family: 'Raleway',sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #ffffff;
    background-color: #292929;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #5a5a5a;
    color: #FFFFFF;
}
#contact {
    width: 40vw;
    height: 30vw;
    margin-right:25%;
    border: 2px solid #9a37ac;
}

#map {
    width: 40vw;
    height: 30vw;
    margin:auto;
    border:2px solid #08070D;
}
#map_project {
    width: 95vw;
    height: 75vw;
    border:2px solid red;
}
.text-break {
    width: 5px;
    height: 10000px;
    border: none;
    position: relative;
}

.container-fluid {
    background-color:inherit;
    color:inherit;
    text-align:center;
}

.col-md-4 {
    background-color: #FFFFFF;
}